
.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__body {
    padding:20px;
    background-color: var(--color-dark-grey);
    color: var(--color-black);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color-white);
    max-width: 90vw;
}

.modal__footer {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.modal__footer button {
    padding: 15px 20px;
    background-color: var(--color-button-primary);
    color: var(--color-white);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;

}

.modal__body ul {
    list-style-type: none;
    font-size: 16px;
}

.modal__body li {
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}

.modal__body p {
    word-wrap: break-word;
}